server {
    {% for definition in nginx_listen %}listen {{definition}};
      {% endfor %}

{% if nginx_reverse_proxy_ssl == True %}
    ssl    on;
    ssl_certificate {{ ssl_certificate_certificate_dir }}/{{ ssl_certificate_chained }};
    ssl_certificate_key {{ ssl_certificate_key_dir }}/{{ ssl_certificate_key }};
{% endif %}

    server_name {{ nginx_reverse_proxy_site_name ~ local_test_environment|default('') }} {{ 'www.' ~ nginx_reverse_proxy_site_name ~ local_test_environment|default('') }};
{% if nginx_reverse_proxy_root == True %}
    root {{sites_dir}}/{{ nginx_reverse_proxy_site_name ~ local_test_environment|default('') }}/www;

    location ~ .(gif|jpg|jpeg|png|js|css|ico)$ {
        try_files $uri @proxy;
    }


location ~ /files/styles/ {
 # expires 2h;
 try_files $uri @proxy;
 }
{% endif %}

{% if site_specific is defined %}
{{site_specific}}
{% endif %}
# Everything that needs to pass without caching goes through this.
    location @proxy {
{% for proxy_cache_option in nginx_reverse_proxy_cache_options %}
        {{ proxy_cache_option }}
{% endfor %}
        proxy_pass http://{{ nginx_reverse_proxy_upstream_host ~ local_test_environment|default('') }}:{{nginx_reverse_proxy_upstream_port}};
    }


    location / {
{% for condition in nginx_reverse_proxy_exclude_cache_conditions %}
    if ( {{ condition }} ) {
      return 405;
    }
    error_page 405 = @proxy;
{% endfor %}
    include proxy_cache_options;
    proxy_pass http://{{nginx_reverse_proxy_upstream_host  ~ local_test_environment|default('')}}:{{nginx_reverse_proxy_upstream_port}};
    }

}
