{% if nginx_reverse_proxy_consent_csp is defined and nginx_reverse_proxy_consent_csp != "None" %}
        if ({{ nginx_reverse_proxy_consent_cookie }} = "1") {
          add_header Content-Security-Policy "{{ nginx_reverse_proxy_marketing_csp }}";
        }
        if ({{ nginx_reverse_proxy_consent_cookie }} != "1") {
          add_header Content-Security-Policy "{{ nginx_reverse_proxy_consent_csp }}";
        }
{% endif %}
